<div class="menu-panel">
  <ul class="menu-panel__items">
    <li class="menu-panel__item">
      <a class="menu-panel__link" href="/admin">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        Dashboard
      </a>
    </li>
    <li class="menu-panel__item">
      <a class="menu-panel__link" href="/admin/order">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        Orders
      </a>
    </li>
    <li class="menu-panel__item">
      <a class="menu-panel__link" href="/admin/customer">
        <i class="fa fa-users" aria-hidden="true"></i>
        Customers
      </a>
    </li>
    <li class="menu-panel__item">
      <a class="menu-panel__link" href="/admin/category">
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        Categories
      </a>
    </li>
    <li class="menu-panel__item">
      <a class="menu-panel__link" href="/admin/product">
        <i class="fa fa-tags" aria-hidden="true"></i>
        Products
      </a>
    </li>
    <li class="menu-panel__item">
      <a class="menu-panel__link" href="/admin/pay">
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        Pay
      </a>
    </li>
    <li class="menu-panel__item">
      <a class="menu-panel__link" href="/admin/transport">
        <i class="fa fa-truck" aria-hidden="true"></i>
        Transport
      </a>
    </li>
    <li class="menu-panel__divider"></li>
    <li class="menu-panel__item">
      <a class="menu-panel__link" href="/admin/config">
        <i class="fa fa-cog" aria-hidden="true"></i>
        Config
      </a>
    </li>
  </ul>
</div>
